.header-container{
    padding: 40px;
    display: flex;
    gap: 3rem;
  
}
.header-circle .f-circle{
    width: 205.76px;
height: 214.88px;
left: 10.14px;
top: 36.84px;
position: absolute;
background: #61DFF1;
filter: blur(50.6801px);
}
.header-circle .s-circle{
position: absolute;
width: 205.76px;
height: 214.88px;
left: 396.32px;
top: 167.27px;
background: #3ABC6B;
filter: blur(50.6801px);

}
.header-image img{
width: 306.8px;
height: 269.3px;
}
.header-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}
.header-right p{
    font-size: 0.8rem;
}
.header-right button{
background: linear-gradient(101.15deg, rgba(97, 223, 241, 0.62) 0%, rgba(58, 188, 107, 0.79) 97.74%);
border-radius: 20.2721px;
justify-content: center;
align-items: center;
padding: 14.1904px 39.5305px;
gap: 10.14px;
color: white;
}
.header-right h1 span{
    color: yellowgreen
}

/*nft*/
.nft-head{
    margin-top: 3rem;
    display: flex; 
   gap: 1rem;
    padding-left: 750px;
}.nft-head h2{
    color: white;
}
.nft-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
}
.header-icon{
    display: flex;
    gap: 10rem;
}
.header-icon span{
    padding-top: 0;
    color: #3ABC6B;
}
.header-icon img{
width: 30.82px;
height: 30.82px;
object-fit: cover;
background: transparent;
}
.body1{
display: flex;
    gap: 5rem;
}
.nfts-nft{
    color: white;
}
.body2{
    display: flex;
    gap: 5.5rem;
    margin-top: 1.5rem;
}
.body1 span{
    padding-top: 0;
    color: #61DFF1;
}
.body2 span{
    padding-top: 0;
    color: gray;
}
.body2 .eth{
    color: #61DFF1;
    font-size: 1.3rem;
}
 img{
    width: 240.57px;
height: 230.43px;
object-fit: cover;
}
.creators{
    margin-top: 4rem;
    margin-left: 2rem;
}
.creator-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}
.creator-head{ 
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 41px;
color: #FFFFFF;
}
.creator-head span{
    color: yellow;
}
.creator-content{
    display: flex;
    gap: 1rem; 
}
.creator-content img{
    width: 65.01px;
    height: 89.33px;
    left: 101.36px;
    border-radius: 25%;
}
.creator-content .text, span{
color: white;
padding-top: 2rem;
}
.creator-content small{
    color: rgba(255, 255, 255, 0.6);
}
/*newsletter*/
.news-letter{
    margin-top: 3rem;
    padding: 1rem;
    padding-left: 0px;
}
.news-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
color: #FFFFFF;
margin-top: 0px;
}
.circles{
    display: flex;
}
.circle-one{
    width: 205.76px;
    height: 114.88px;
   position: absolute;
    background: rgba(58, 188, 107, 0.5);
    filter: blur(50.6801px);
    }
    .circle-two{
        width: 205.76px;
        height: 114.88px;
        margin-left: 1000.9px;
        background: rgba(97, 223, 241, 0.5);
        filter: blur(50.6801px);
        }
.numbers{
    display: flex;
    gap: 0.5rem;
    margin-top: 0px;
    margin-left: 5rem;
}
.numbers h3{
    font-weight: 600;
font-size: 40.5441px;
line-height: 49px;
}
.numbers small{
    font-weight: 300;
font-size: 15.204px;
line-height: 18px;
padding-top: 0.5rem;
}


.newsletter-container{
    box-sizing: border-box;
    width: 858.87px;
    height: 100.42px;
    background: linear-gradient(91.93deg, rgba(58, 188, 107, 0.5) 21.16%, rgba(97, 223, 241, 0.5) 100%);
    backdrop-filter: blur(5.06802px);
    border-radius: 20.2721px;  
    margin-left: 9rem;
}
.newsletter-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
    color: white;
}
.newsletter-left{
    margin-left: 2rem;
}
.newsletter-left h1{
    font-weight: 700;
    font-size: 2rem;
}
.newsletter-right{
    margin-top: 2rem;
    margin-left: 3rem;
}
/*footer*/
.footer{
    margin-top: 4rem;
    margin-left: 2rem;
}
.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}
.footer-wrapper img{

background: transparent;
}
.footer-socials{
    display: flex;
    gap: 1.5rem;
}
.footer-socials a{
    color: #054782;
}
.footer-socials a .blue{
    color: #55ACEE;
  
}
.footer-socials a .green{
    color:  #3ABC6B ;
}

.footer-wrapper .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-wrapper .content h3{
    font-weight: 300;
    font-size: 1.3rem;
    color: white;
}
.footer-wrapper .content small{
    color: white;
}
.footer-copyright{
    color: white;
    text-align: center;
    margin-top: 3rem;
}
@media screen and (max-width: 1024px){
    .header-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 2rem;
    }
    .header-circle .s-circle{
        display: none;
    }
    .nft-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-left: 1.5rem; 
    }
    .newsletter-container{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 600px){
    .header-container{
        grid-template-columns: 1fr;
        margin-left: 0rem;
        padding-top: 10px;
    }
        .nft-container{
            grid-template-columns:  1fr;
            gap: 1rem;
            margin-left: 2rem; 
        }
        .creators{
            margin-left: 1rem;
        }
        .creator-container{
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            font-size: 10px;
        }
        .nft-head{
            margin-top: 3rem;
            display: flex; 
           gap: 1rem;
            padding-left: 180px;
}
.news-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #FFFFFF;
    margin-top: 0px;
    font-size: 1rem;
    margin-left: 0px;
    }
    .numbers{
        display: flex;
        gap: 0.6rem;
        margin-top: 0px;
        margin-left: 0.5rem;
    }
        .numbers h3{
            font-weight: 100;
        font-size: 20.5441px;
        line-height: 49px;
        }
        .numbers small{
            font-weight: 100;
        font-size: 10.204px;
        line-height: 15px;
        padding-top: 0.5rem;
        }
        .newsletter-container{
            width: 350.27px;
            height: 96.39px;
            backdrop-filter: blur(5.06802px);
            margin-left: 0.3rem;
            margin-top: 0rem;
        }
        .newsletter-wrapper{
            grid-template-columns: 1fr;
            padding: 0 10px;
            margin-top: 0rem;
        }
        .newsletter-left{
            margin: 0px;
            margin-left: 1rem;
            text-align: center;
        }
        .newsletter-left h1{
            font-weight: 700;
            font-size: 1.3rem;
        }
        .newsletter-left p{
            font-size: 10px;
        }
        .newsletter-right{
            margin-top: 0.3rem;
            margin-left: 1rem;
            text-align: center;
    }
    .footer-wrapper{
        font-size: 10px;
        margin-left: 0;
    }
    .footer-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
    }
    .footer-socials{
        gap: 1rem;
    }
    .footer-wrapper .content h3{
        font-weight: 300;
        font-size: 0.8rem;
        color: white;
    }
    .footer-wrapper .content small{
        color: white;
    }
    .footer-copyright{
        color: white;
        text-align: center;
        margin-top: 3rem;
    }

}