.nav-wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 35.48px;
position: absolute;
width: 1154.49px;
height: 50.38px;
left: 70.95px;
top: 25.34px;
}




