*{
    margin: 0;
    padding: 0;
}

body{
    width:  80%;
    position: relative;
    max-width: 1297.41px;
    height: 1889.36px;
    background: #17191B;
}
@media screen and (max-width: 694px){
    body{
        width: 90%;
position: absolute;
max-width: 694px;
height: 1010.64px;
left: 106.81px;
top: 94.08px;
transform: rotate(-0.12deg);
    }}